<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>

    <!-- Header -->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log In", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>

      <!-- Footer -->
      <footer class="footer">
          <small>
            The <a href="http://www.railstutorial.org/">Rails Sample App</a>
            by: <a href="mailto:zld6fd@mail.missouri.edu">Zachary Dobbs</a>
          </small>
          <nav>
            <ul>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </nav>
      </footer>

    </div>
  </body>
</html>
